:root {
  --primary: #e86a26;
  --accent: #cf4307;
  --buttonAccent: #fbff00;
}

header {
  background-color: var(--primary);
  color: #fff;
  padding: 0.5em;
  text-align: center;
}

footer {
  background-color: var(--primary);
  color: #fff;
  padding: 0.3em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  font-family: "Os";
  margin: 0;
  padding: 0;
  background-color: #f7eeeb;
}

.centered-image {
  display: block;
  margin: auto;
  max-width: 15em;
}

#DiscordJoinHeader {
  padding: 2em;
  text-align: center;
}

.center {
  margin: 0 auto;
}

.inputInstruction {
  font-weight: bold;
  padding: 0;
  margin: 0
}

.textFields {
  width: 50vw;
  background-color: var(--primary);
  border-radius: 15px;
  font-size: 30px;
  color: white;
  border: 0;
}