<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Unintuitive Website</title>
  <link rel="icon" href="{{ url_for('static', filename='hackawaylogo.webp') }}">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Sixtyfour">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/root.css') }}" />
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/usernameField.css') }}" />
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/passwordField.css') }}" />
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/gradientButton.css') }}" />
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/email.css') }}" />
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/DOB.css') }}" />
</head>

<body>
  <header>
    <img class="centered-image"
      src="{{ url_for('static', filename='hackawaylogo.webp') }}"
      alt="Full Logo" />
  </header>

  <img src="{{ url_for('static', filename='mlh-trust-badge-2024-white.svg') }}"
    id="mlh">
  <br>
  <br><br><br><br><br>
  <section id="DiscordJoinHeader">
    <h2>Load our project...</h2>
  </section>


    <svg id="scrollDownIndicator" aria-hidden="true" focusable="false"
      data-prefix="fas" data-icon="chevron-down"
      class="svg-inline--fa fa-chevron-down fa-5x drop-shadow-[6px_9px_rgb(217,91,23)] animate-[bounce_3s_infinite]"
      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
      color="white">
      <path fill="currentColor"
        d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
      </path>
    </svg>


  <p id="usernameText" class="inputInstruction" data-aos="fade-left">
        Please enter your username:
      </p>
  <div data-aos="fade-left" class="divSection">

      <input id="usernameField" type="text"
        value=" Please enter your username, i.e. your login id, credentials, sign-on name, etc." />

  </div>
  <div data-aos="fade-left" class="divSection">
    <div id="formContainer">
    <p class="inputInstruction">Please enter your email:</p>
    <br />
    <!-- Form to input email and select domain -->
    <form id="emailDomainForm" style="margin-left: 8vw;">
      <!-- Input for email with placeholder -->
      <input type="text" id="email" class="textFields" style="width: 25vw"
        name="email" placeholder="Enter your email" oninput="reverseEmail"
        required />

      <select id="EmailProvider" name="EmailProvider" class="dropdownInput"
        onfocus="this.size=7;" onblur="this.size=1;"
        onchange="this.size=1; this.blur();""
          required>
          <option value="">Email Provider</option>
          <!-- Include more email providers in the options -->
          <option value=" protonmail">protonmail</option>
        <option value="zoho">zoho</option>
        <option value="mail">mail</option>
        <option value="yandex">yandex</option>
        <option value="fastmail">fastmail</option>
        <option value="rocketmail">rocketmail</option>
        <option value="mailinator">mailinator</option>
        <option value="inbox">inbox</option>
        <option value="rediffmail">rediffmail</option>
        <option value="gmx">gmx</option>
        <option value="gmail">gmail</option>
        <option value="yahoo">yahoo</option>
        <option value="hotmail">hotmail</option>
        <option value="aol">aol</option>
        <option value="outlook">outlook</option>
        <option value="icloud">icloud</option>
        <option value="mail">mail.ru</option>
        <option value="tutanota">tutanota</option>
        <option value="yopmail">yopmail</option>
        <option value="sbcglobal">sbcglobal</option>
        <option value="att">att</option>
        <option value="cox">cox</option>
        <option value="optonline">optonline</option>
        <option value="roadrunner">roadrunner</option>
        <option value="windstream">windstream</option>
        <option value="charter">charter</option>
        <option value="frontier">frontier</option>
        <option value="centurylink">centurylink</option>
        <option value="earthlink">earthlink</option>
      </select>

      <!-- Dropdown for selecting domain -->
      <select id="selectDomain" name="selectDomain" class="dropdownInput" style="width: 90px;"
        onfocus="this.size=7;" onblur="this.size=1;"
        onchange="this.size=1; this.blur();""
          required>
          <option value="">Domain</option>
          <!-- Include more domain options -->
          <option value=" .gov">.gov</option>
        <option value=".ac">.ac</option>
        <option value=".edu">.edu</option>
        <option value=".in">.in</option>
        <option value=".uk">.uk</option>
        <option value=".co">.co</option>
        <option value=".com">.com</option>
        <option value=".net">.net</option>
        <option value=".org">.org</option>
        <option value=".io">.io</option>
        <option value=".biz">.biz</option>
        <option value=".us">.us</option>
        <option value=".info">.info</option>
        <option value=".mobi">.mobi</option>
        <option value=".name">.name</option>
        <option value=".me">.me</option>
        <option value=".tv">.tv</option>
        <option value=".cc">.cc</option>
        <option value=".asia">.asia</option>
        <option value=".co.uk">.co.uk</option>
        <option value=".au">.au</option>
        <option value=".ca">.ca</option>
        <option value=".nz">.nz</option>
        <option value=".jp">.jp</option>
        <option value=".fr">.fr</option>
        <option value=".de">.de</option>
        <option value=".es">.es</option>
      </select>
      <br>
    </form>
    <br>
    <!-- Display box for the entered email and domain -->
    <div id="displayBox" style="display: none;">
      <!-- Display an error message if "@" is missing -->

    </div>

  </div>
  </div>



  <br />
  <br />
  <div >
    <div data-aos="fade-left" class="divSection">
    <p class="inputInstruction">
      Please enter you phone number:
    </p>
    <br><br>
    <form id="mobileNumberForm">
      <label for="country">Country:</label>
      <select id="country" name="country" class="dropdownInput">
        <!-- Initially, only include an empty option -->
        <option value=""> </option>
      </select>
      <br>
      <!-- Dropdown menus for each digit -->
      <label for="digit1">Digit 1:</label>
      <select class="dropdownInput digitDropdown" id="digit1" name="digit1">
        <option value=""> </option>
      </select>
      <label for="digit2">Digit 2:</label>
      <select class="dropdownInput digitDropdown" id="digit2" name="digit2">
        <option value=""> </option>
      </select>
      <label for="digit3">Digit 3:</label>
      <select class="dropdownInput digitDropdown" id="digit3" name="digit3">
        <option value=""> </option>
      </select>
      <label for="digit4">Digit 4:</label>
      <select class="dropdownInput digitDropdown" id="digit4" name="digit4">
        <option value=""> </option>
      </select>
      <label for="digit5">Digit 5:</label>
      <select class="dropdownInput digitDropdown" id="digit5" name="digit5">
        <option value=""> </option>
      </select>
      <label for="digit6">Digit 6:</label>
      <select class="dropdownInput digitDropdown" id="digit6" name="digit6">
        <option value=""> </option>
      </select>
      <label for="digit7">Digit 7:</label>
      <select class="dropdownInput digitDropdown" id="digit7" name="digit7">
        <option value=""> </option>
      </select>
      <label for="digit8">Digit 8:</label>
      <select class="dropdownInput digitDropdown" id="digit8" name="digit8">
        <option value=""> </option>
      </select>
      <label for="digit9">Digit 9:</label>
      <select class="dropdownInput digitDropdown" id="digit9" name="digit9">
        <option value=""> </option>
      </select>
      <label for="digit10">Digit 10:</label>
      <select class="dropdownInput digitDropdown" id="digit10" name="digit10">
        <option value=""> </option>
      </select>
    </div>
      <br>
      <br>
      <br />
      <br />
      <div data-aos="fade-left" class="divSection">
      <!-- Date of Birth -->
      <label for="dob">
        <p class="inputInstruction">
          Please enter you DOB:
        </p>
      </label>
      <br>
      <div id="dob">
        <label for="day">Day:</label>
        <input type="range" id="day" name="day" min="1" max="31">
        <span id="dayValue">1</span>
        <br>
        <br>
        <label for="month">Month:</label>
        <input type="range" id="month" name="month" min="1" max="12">
        <span id="monthValue">1</span>
        <br>
        <br>
        <label for="year">Year:</label>
        <input type="range" id="year" name="year" min="1900" max="2024">
        <span id="yearValue">1900</span>
        <br>
      </div>
      </div>
      <br><br>
  </div>
  <br>
  <br>
  <div class="center">
    <p id="passwordText" class="inputInstruction">
      Please enter your password:
    </p>
    <br />
    <input id="passwordField" type="password" class="textFields" value=""
      onselectstart="return false" oncut="return false" oncopy="return false"
      onpaste="return false" ondrag="return false" ondrop="return false" />

    <br><br>
    <br>

    <button id="firstPasswordSubmit" class="GradBtn">
      Submit All Details
    </button>
    <br />
    <div id="repeatPassword"></div>
  </div>
  <br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br>
  <footer>
    <p>&copy; 2024 - Faeq, Ibad, Anya & Anamay - All rights reserved.</p>
  </footer>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="{{ url_for('static', filename='js/header.js') }}"></script>
  <script src="{{ url_for('static', filename='js/password.js') }}"></script>
  <script src="{{ url_for('static', filename='js/email.js') }}"></script>
  <script src="{{ url_for('static', filename='js/DOBphone.js') }}"></script>
</body>

</html>