<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Unintuitive Website</title>
    <link
      rel="stylesheet"
      href="../css/root.css" />
    <link
      rel="stylesheet"
      href="../css/usernameField.css" />
  </head>
  <body>
    <header>
      <img
        class="centered-image"
        src="hackawaylogo.webp"
        alt="Full Logo" />
    </header>

    <section id="DiscordJoinHeader">
      <h2>Join our Discord...</h2>
    </section>

    <div
      class="center"
      style="margin-left: 10vw">
      <p id="usernameText">Please enter you username:</p>
      <br />
      <input
        id="usernameField"
        type="text"
        value="Please enter your username, i.e. your login id, credentials, sign-on name, etc." />
      <br />
    </div>

    <footer>
      <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>
  </body>
</html>
